.section, .form{
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: 1px solid rgba(255,255,255,0.3);
}

h2{
    font-size: calc(10px + 2vmin);
    color: white;
}
